@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stevens Institute of Technology<br />
    1 Castle Point on Hudson<br />
    Hoboken,New Jersey <br/>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gvasudeo@stevens.edu">Support@example.com</a><br />
 
</address>