@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Study Plan Guide</h1>
    <p> Here is an easier way to devise your study plan.</p>
     <div  style="width:50%;height:100%; float: left; ">
         <h2>Welcome</h2>
       <p> <img src="C:\Users\Rohit\Desktop\default_book_image.gif"><img/></p>
    </div>
    <div  style="width: 50%;height:100%; float:right;">
        <h2>Get started with quick and easy steps</h2>
        <p>
            - Register/Login <br/>
            - Fill in your course details<br/>
            - Get going
        </p>
    </div>

</div>
